
@{
    ViewBag.Title = "meals";
}

<div class="container">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <img src="/Uploads/HM-Chicken-Macdo.png" height="150px" />
        </div>
        <div class="col-sm-4">
            <h3>
                ميزته انه بسيط، والأولاد بيحبوه! مع أكلتهم، قدّم لهم الفرايز الشهيرة، واختار واحد من لبن، ميلك شيك شوكولاتة، عصير برتقال، عصير تفاح، أو عصير تروبيكال.. وهايحبّوا أكلهم أكتر!
            </h3>
        </div>
        <div class="col-sm-4">
            <h2>
                <a href="/home/addmeal/1">Add Meal</a>
            </h2>
        </div>
    </div>


    <div class="col-sm-12">
        <div class="col-sm-4">
            <img src="/Uploads/HM-6Nuggets.png" height="150px" />
        </div>
        <div class="col-sm-4">
            <h3>
                كُلها بالصوص، استمتع ب ٦ قطع صغيرة ولذيذة من الدجاج الأبيض، مهما كان الصوص اللي بتاكله معاهم، فأكيد مش هاتقاوم! قدّم لهم الفرايز الشهيرة، واختار واحد من لبن، ميلك شيك شوكولاتة، عصير برتقال، عصير تفاح، أو عصير تروبيكال.. وهايطلبوا تاني!
            </h3>
        </div>
        <div class="col-sm-4">
            <h2>
                <a href="/home/addmeal/2">Add Meal</a>
            </h2>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4">
            <img src="/Uploads/HM-D-Beefburger.png" height="150px" />
        </div>
        <div class="col-sm-4">
            <h3>حتى الولاد مش هاينسوا طعمه الرائع. مش بس مكونات تشيز برجر الأصلي، كمان فيه قطعتين لحم بقري مشوي وشريحتين جبنة علشان تستمتع بالطعم مرتين! قدّم لهم الفرايز الشهيرة، واختار واحد من لبن، ميلك شيك شوكولاتة، عصير برتقال، عصير تفاح، أو عصير تروبيكال.. وابسطه
            !</h3>
        </div>
        <div class="col-sm-4">
            <h2>
                <a href="/home/addmeal/3">Add Meal</a>
            </h2>
        </div>
    </div>
</div>
